/* ==========================================================================
   #HERO
   ========================================================================== */

.hero {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    &__body {
        @include content-gutter();
        max-width: $content-width-wide + ($hero-title-padding-horizontal * 2);
        position: absolute;
        width: 100%;

        .list {
            display: inline-block;

            a {
                @include themify($themes) {
                    color: themed('color.white');
                    text-shadow: 2px 2px 2px themed('color.backgroundDark');
                }
                &:hover {
                    @include themify($themes) {
                        color: themed('color.brandPrimary');
                    }
                }
            }
        }
    }

        &__title {
        
            @include themify($themes) {
                color: themed('color.white');
                text-shadow: 2px 2px 2px themed('color.backgroundDark');
            }

            @include text-hero();

            margin: 0 0;
        }

        &__subtitle {
        
            @include themify($themes) {
                color: themed('color.white');
                text-shadow: 2px 2px 2px themed('color.backgroundDark');
            }

            @include text-h2();
        }

        &__btn {
            @include rem(margin-left, $hero-title-padding-horizontal);
        }

        

    &__media {
        max-height: $hero-media-max-height;
        min-width: $hero-media-min-width;
        position: relative;
        width: 100%;
        z-index: $z-index-back;

        overflow: hidden;

        @include bp-min-width($bp-tablet) {
            min-width: auto;
        }

        .embed {
            margin-bottom: 0;
        }
    }
}