<section class="section section--hero section--center">
    <div class="section__content">

        <div class="hero">
            <div class="hero__body">
                <h1 class="hero__title">Dan Thomas</h1>
                <h2 class="hero__subtitle">Digital strategy for the video games industry</h2>
                <ul class="list list--horizontal list--horizontal-spaced">
                    <li><a href="https://www.twitter.com/dannyt" rel="noopener" target="_blank"><i class="fab fa-twitter"></i><span class="hidden">Follow me on Twitter</span> </a> </li>
                    <li><a href="https://www.linkedin.com/in/danmoov2/" rel="noopener" target="_blank"><i class="fab fa-linkedin"></i><span class="hidden">Find me on LinkedIn</span> </a> </li>
                    <li><a href="https://github.com/dannyt" rel="noopener" target="_blank"><i class="fab fa-github"></i><span class="hidden">My GitHub</span> </a> </li>
                    <li><a href="https://www.instagram.com/danmoov2/" rel="noopener" target="_blank"><i class="fab fa-instagram"></i> <span class="hidden">My Instagram</span> </a> </li>
                </ul>
            </div>
            
            <div class="hero__media">
                <picture>
                    <source srcset="/content/PatternLibrary/snow1-2560.jpg" media="(min-width: 1921px)">
                    <source srcset="/content/PatternLibrary/snow1-1920.jpg" media="(min-width: 1441px)">
                    <source srcset="/content/PatternLibrary/snow1-1440.jpg" media="(min-width: 1281px)">
                    <source srcset="/content/PatternLibrary/snow1-1280.jpg" media="(min-width: 1025px)">
                    <source srcset="/content/PatternLibrary/snow1-1024.jpg" media="(min-width: 769px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-768w.jpg" media="(min-width: 426px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-425w.jpg" media="(min-width: 376px)">
                    <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
                </picture>
            </div>
        </div>

    </div>
</section>