<header class="header">
    <div class="header__content">

        <a class="header__logo" href="#">
            <h2 class="header__title">Dan Thomas</h2>
        </a>

        <div class="header__nav-button js-nav-button">Menu</div>
        
        {{render '@nav'}}

    </div>
</header>